.cart-container{
    background-color: rgba(200, 200, 200, 0.507);
    height: 90vh;
    border-radius: 12px;
    margin-top: 30px;
    position: sticky;
    top: 30px;
}
.cart-container h3{
    text-align: center;
    padding-top: 5px;
}
.cart-button-group{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.cart-button-group button{
    border: 1px solid lightcoral;
    border-radius: 12px;
    font-size: 14px;
}
.cart-button-group button:hover{
    background-color: lightcoral;
}