.qa-container{
    background-color: rgba(197, 195, 193, 0.479);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.qa-items-container{
    width: 90%;
    display: flex;
    gap: 20px;
}
.qa-item{
    text-align: center;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 10px 15px;
}


@media screen and (max-width: 767px) {
    .qa-items-container{
        flex-direction: column;
    }
  
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .qa-items-container{
        flex-direction: column;
    }
}